.message {
    font-weight: 600;
    color: blue;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    table-layout: auto;
    width: 500px;
}

td {
    text-align: center;
}


.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered
{
       text-align: center;
}

.left
{
       text-align: left;
}

.large
{
    font-size: large; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.loginbody {
    background: url("https://lochside-hotel.com/wp-content/uploads/sites/2/2019/05/Lodges-Edits-0008-1600x1068.jpg");
}

.loginlink {
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.loginheading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 10%;
}

.loginform {
    margin: auto;
    width: 25%;
    border: 5px solid rgb(37, 50, 63);
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
 .centertable {
    margin-left: auto;
    margin-right: auto;
 }
 .insideloginform {
     font-size: 1.2em;
 } 



